.imageGallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-right: auto;
    margin-left: auto;
}

.imageGalleryList {
    width: calc((100% - 3 * 24px) / 4);
    aspect-ratio: calc(360/300);
}