.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    position: relative;
    background: transparent;
    /* transparent background */
    border: none;
    outline: none;
}

.modalImage {
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 8px;
}